{% extends 'shop/_base.html' %}

{% block prod_nav %}{% endblock %}

{% block Slider %}{% endblock  %}

{% block Contents    %}
    

    
<div class="container-fluid">
    {% include 'shop/layouts/__messages.html' %}
    <div class="row justify-content-center">
        <div class="col-3 m-5">
            <div class="card mt-2" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="" class="form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning mt-3">Login</button>
                    </form>
                    <div class="card-footer mt-3 text-center">
                        <a href="{% url 'customer:reset_password' %}" class="text-primary mt-3" style='text-decoration:none'> Forgot password ? </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}