{% extends 'shop/_base.html' %}


{% block prod_nav %}{% endblock  %}

{% block Slider %}{% endblock  %}
    
{% block Contents %}
        
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card mt-5 mb-5" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="{% url 'customer:user-register' %}" class="form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info mt-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}