<nav class="navbar navbar-rtl navbar-expand-lg navbar-dark bg-dark" style="max-height: 2em;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">صفحه اصلی</a>
        <a class="nav-link" href="#">ثبتنام</a>
        <a class="nav-link" href="#">ورود</a>
        <a class="nav-link" href="#">درباره ما</a>
      </div>
    </div>
  </div>
</nav>