{% extends 'shop/_base.html' %}
{% block Title %}خانه{% endblock %}
{% block Slider %}
    <img class="col-12 img-fluid m-0 p-0" src="../../media/default_banner.jpg" alt="1">
{% endblock %}


{% block Contents %}
        {% include 'shop/layouts/__messages.html' %}

    <div class="container-fluid bg-secondary text-white"  style="height:100vh; text-align:right">
        <h1 class="text-center">Main Contents</h1>
    </div>
{% endblock %}


{% block Sidebar %}
    <div class="container-fluid bg-info text-white" style="height:100vh; text-align:right">
        <h4 class="text-center text-dark">Side Bar</h4>
    </div>
{% endblock %}