{% extends 'shop/_base.html' %}
{% load static %}
{% block Title %}{{ product.name }}{% endblock %}

{% block Styles %}
    <link rel="stylesheet" href="{% static 'css/splide-skyblue.min.css' %}">
{% endblock  %}

{% block Contents %}
    <div class="container-fluid text-dark p-0 m-0"  style="background-color:rgb(245, 245, 245)">
        <div class="row justify-content-center m-0">
            <div class="col-12 col-sm-6 p-5">
                <div id="image-slider" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in product.images.all %}
                                <li class="splide__slide">
                                    <img src="{{image.pic.url}}">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="thumbnail-slider" class="splide mt-3">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in product.images.all %}
                                <li class="splide__slide">
                                    <img src="{{image.pic.url}}">
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="row">
                    {% if product.category %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" class="text-primary" style="text-decoration:none;">{{ product.category.parent.name }}</li>
                        <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="{% url 'product:category-detail' product.category.id %}" style="text-decoration:none;">{{ product.category.name }}</a></li>
                        </ol>
                    {% endif %}
                    <h1 class="text-dark mt-3 p-2" style="direction:rtl; font-family:'Byekan'">{{ product.fa_name }}</h1>
                    <h2 class="text-dark mt-3 p-2" style="direction:rtl">{{ product.name }}</h2>
                    <p class=" p-1" style="color:rgb(97, 97, 97); direction:rtl; font-family:'Byekan'">{{ product.description }}</p>
                    <hr>
                    {% if product.discount %}
                        <h5 class="text-danger" style="direction:rtl; font-size: 1em; font-family: 'BYekan';">تخفیف ویژه : <span class="badge bg-danger">{{ product.discount }}</span></h5>
                        <div class='' style="direction:rtl; text-align: -webkit-center;"><h6 class="product-old-price" style="text-align:center; font-family:'BYekan';">{{product.price}} تومان</h6></div>
                        <h4 class="" style="direction:rtl; text-align: center; font-family:'BYekan'">{{product.final_price}}  تومان</h4>
                    {% else %}
                        <p class="text-black card-text p-1" style="text-align:center; font-weight:bolder; font-family:'BYekan'; direction:rtl">{{ product.price }} تومان</p>
                    {% endif %}
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-2">
                        <span>
                            <div class="quantity">
                                <input type="number" min="1" max="9" step="1" value="1" id="quantity-{{product.id}}" style="font-family:'BYekan'">
                            </div>
                        </span>
                    </div>
                    <div class="col-12 col-sm-3">
                        <button data-order="{{open_order}}" onclick="AddToCart('{{product.id}}', '{{request.user.is_authenticated}}')" class="button-2" style="font-family:'BYekan'" id="add-to-cart-button">
                            اضافه به سبد</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block Scripts %}
    <script src="{% static 'javascript/splide.min.js' %}"></script>
    <script>
        let main = new Splide( '#image-slider', {
            cover      : true,
            heightRatio: 0.995,
            type: 'loop',
            pagination: false,
            arrows: false,
        } );
        let thumbnails = new Splide( '#thumbnail-slider', {
            fixedWidth  : 100,
            fixedHeight : 60,
            gap         : 0,
            rewind      : true,
            pagination  : false,
            cover       : true,
            isNavigation: true,
            breakpoints : {
                600: {
                    fixedWidth : 60,
                    fixedHeight: 44,
                },
            },
        } );
        main.sync( thumbnails );
        main.mount();
        thumbnails.mount();

    </script>
    <script>
        jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
        jQuery('.quantity').each(function() {
          var spinner = jQuery(this),
            input = spinner.find('input[type="number"]'),
            btnUp = spinner.find('.quantity-up'),
            btnDown = spinner.find('.quantity-down'),
            min = input.attr('min'),
            max = input.attr('max');

          btnUp.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
              var newVal = oldValue;
            } else {
              var newVal = oldValue + 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
          });

          btnDown.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
              var newVal = oldValue;
            } else {
              var newVal = oldValue - 1;
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
          });

        });
    </script>
{% endblock  %}