<div class="col-12 col-sm-10 col-md-3 card p-0 pb-3 m-4 text-center display-relative rounded shadow-sm" style="max-height:30em;">
    <div class="container" style="height:100%;">
        <div class="row" id="image-section" style="align-content:center">
            
            {% if product.discount %}
                <div class="discount-badge"><span class="amount">{{product.discount}}</span><span class="icon fa fa fa-gift"></span></div>
            {% endif %}
                            
            <div class="col-12">
                <img src="{{product.images.first.pic.url}}" class="card-img-top img-responsive img-fluid" style="height:15em; object-fit: contain;" alt="{{ product.name }}">
            </div>
        </div>        
        <div class="row">
            <div class="col-12">
                <a href="{% url 'product:product-detail' product.id %}" style="text-decoration:none; color:rgb(53, 53, 53)">
                    <h5 class="card-title m-1 p-1" style="font-size:0.9em; white-space:nowrap;">{{ product.name }}</h5>
               </a>
            </div>
            <div class="col-12">
                <p class="card-text p-1" style="color:rgb(100, 100, 100); font-family:'BYekan'; direction:rtl">{{ product.price }} تومان</p>
            </div>
        </div>
    <!-- <p class="text-dark card-text p-1">{{ product.description|truncatewords:10 }}</p> -->
    <hr>
    <div class="row">
        <div class="col-12 col-sm-5">
            <span>
                <div class="quantity">
                    <input type="number" min="1" max="9" step="1" value="1" id="quantity-{{product.id}}" style="font-family:'BYekan'">
                </div>
            </span>
        </div>
        <div class="col-12 col-sm-7">
            <button data-order="{{open_order}}" onclick="AddToCart('{{product.id}}', '{{request.user.is_authenticated}}')" class="button-2" style="font-family:'BYekan'" id="add-to-cart-button">
                اضافه به سبد</button>
        </div>
    </div>
    </div>
</div>
