*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration:none;
}

@font-face {
	font-family: 'BYekan';
	src:	url('../fonts/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('../fonts/Yekan.woff') format('woff'), /* Modern Browsers */
			url('../fonts/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('../fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

.user-image{
    max-height: 2.5em;
    max-width: 2.5em;
}

.contents{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}

.splide__slide {
    opacity: 0.3;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }
  .my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

.card_button{
  text-align: center;
  bottom: 0.5em;
  position: absolute!important;
  width: 100%;
}