*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.user-image{
    max-height: 2.5em;
    max-width: 2.5em;
}

.contents{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}