{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    <!-- custom title -->
    <title>{% block Title %}{% endblock %}</title>
    
    <!-- sweet alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- main css file -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <!-- main css file -->
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/product-card.css' %}">
    <!-- extra links -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    {% block Styles %}{% endblock %}
    
</head>
<body>
<div class="container-fluid p-0">
    
    {% block prod_nav %}
    <div class="row m-0" style='position: sticky; top: 0; z-index: 100;' id="nav2-container">
        <!-- nav 1 -->
        {% include 'shop/layouts/__navbar_product.html' %}
    </div>
    {% endblock  %}
    
    
    {% block user_nav %}
    <div class="row m-0" id="nav1-container">
        <!-- nav 2 -->
        {% include 'shop/layouts/__navbar_user.html' %}
    </div>
    {% endblock %}
    
    {% include 'shop/layouts/__messages.html' %}
    
    {% block Cart %}{% endblock  %}
    
    {% block Slider%}
        <div class="row m-0" id="slider-container">
            {% include 'shop/layouts/__slider.html' %}
        </div>
    {% endblock %}

    
    <div class="row m-0" id="main-container">
        <div class="col-12 p-0 m-0" id="content-column">
            {% block Contents %}{% endblock %}
        </div>
    </div>

    {% block Footer %}
    <div class="row m-0">
            <!-- Footer -->
            <footer class="bg-dark text-center text-white">
                <!-- Grid container -->
                <div class="container p-4">
                    <!-- Section: Social media -->


                    <section class="mb-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                            repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                            eum harum corrupti dicta, aliquam sequi voluptate quas.
                        </p>
                    </section>
                    <!-- Section: Text -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Copyright:
                    <a class="text-white" href="#">www.alirezaShop.com</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </div>
    {% endblock  %}
        
</div>
{% csrf_token %}
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="{% static 'javascript/jquery.min.js' %}"></script>

<!-- Main Javascript -->
<script src="{% static 'javascript/main.js' %}"></script>

<!-- jquery cookie plugin -->
<script src="{% static 'javascript/jquery.cookie.js' %}"></script>

<script>
    (function(){
        $("#cart").on("click", function() {
        $(".shopping-cart").fadeToggle( "fast");
        });
    })();
</script>
{% block Scripts %}{% endblock %}

</body>
</html>