{% load static %}

{% block Styles %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock  %}
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-dark" href="#" style="font-weight:bolder"><span><img class='rounded-circle user-image' src="{% static 'site-logo.png' %}"></span>  Alireza Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for cat in cats %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ cat.name }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for child in cat.children.all %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'product:category-detail' child.id %}">
                                        {{ child.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            <li>
                <div class="nav-item">
                    <a href="{% url 'product:brand-list' %}" class="nav-link">Brands</a>
                </div>
            </li>
                <div class="nav-item" style="position:absolute; right:2em;font-family: 'BYekan'">
                    <a href="#" class="posision-relative" id="cart" style="text-decoration:none; color:black;">
                        سبد خرید
                        <i class="fa fa-shopping-cart" style="font-size:1.2em;"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="opacity:0.5;" id="cart-length">{{cart|length}}</span>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</nav>
 

{% block Cart %}
    <sectoin id="cart-section">
        {% include 'order/cart.html' %}
    </sectoin>
{% endblock  %}
    
