<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'product:home' %}">Home</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer:user-login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer:user-register' %}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'customer:user-logout' %}">Logout</a>
                    </li>
                    <li style="direction: rtl; position:absolute; right: 2em">
                        <a href="#"><img class='user-image rounded-circle' src="{{user.customer.image.url}}" alt="80x80" data-holder-rendered="true"></a>
                        <span class="text-white">{{user.email}}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

